<div class="wrapper">
<table>
    <tr><td align="right">Aircraft:</td><td>{{singleFlight?.aircraft?.mark}} {{singleFlight?.aircraft?.model}}</td></tr>
    <tr><td align="right">Departure Airport:</td><td>{{singleFlight?.departureAirport?.name}}</td></tr>
    <tr><td align="right">Departure date:</td><td>{{singleFlight?.departureDate}}</td></tr>
    <tr><td align="right">Arrival Airport:</td><td>{{singleFlight?.arrivalAirport?.name}}</td></tr>
    <tr><td align="right">Arrival date:</td><td>{{singleFlight?.arrivalDate}}</td></tr>
</table>
</div>
