<div class="login-container" align="center">
    <h2>Log in</h2><br>
<form #loginForm="ngForm" (ngSubmit)="handleLoginForm()" class="login">
    <table>
        <tr><td colspan="2" align="center">
            @if(email?.touched)
            {
                @if (email?.errors?.['required']) {
                    <div class="error">E-mail is required</div>
                }
                @if (email?.errors?.['emailValidator']) {
                    <div class="error">E-mail is not valid!</div>
                }
            }
            
            @if(password?.touched)
            {
                @if (password?.errors?.['required']) {
                    <div class="error">Password is required</div>
                }
            }  
        </td></tr>
        <tr>
            <td align="right" width="50%">Email:</td>
            <td align="left"><input type="text" [class]="(
                (email?.touched && email?.errors?.['required']) || 
                 (email?.touched && email?.errors?.['emailValidator'])) ? 'inputError':''" name="email" placeholder="E-mail" ngModel #email="ngModel" required appEmail/></td>
        </tr>
        <tr>
            <td align="right">Password:</td>
            <td align="left"><input type="password" name="password" [class] = "(password?.touched && password?.errors?.['required']) ? 'inputError':''" placeholder="password" ngModel #password="ngModel" required/></td>
        </tr>
        <tr><td colspan="2" align="center"><button>Login</button></td></tr>
    </table>
</form>
</div>
