<div id="sidebar">
    <h2>News</h2>

    @for (item of news; track $index) {
        <p>{{item.abstract}}</p>
    }
    <p>This is a little tidbit for sidebar content. This whole column could be used for whatever kind of purpose: news, pics, etc.</p>
    <p>Aenean eros arcu, condimentum nec, <a href="#">dapibus</a> ut, tincidunt sit amet, urna. Quisque viverra, eros sed imperdiet iaculis, est risus facilisis quam, id malesuada arcu nulla luctus urna. Nullam et est.</p>
    <p>Aenean eros arcu, condimentum nec, dapibus ut, tincidunt sit amet, urna. Quisque viverra, eros sed imperdiet iaculis, est risus facilisis quam, id malesuada arcu nulla luctus urna. Nullam et est.</p>
</div>
