@for (item of airports; track $index) {
        Airport name: {{item.name}}<br>
        Airport Address: <br>
        <ul>
            <li> Country: {{item.address.country}}</li>
            <li> Province: {{item.address.province}}</li>
            <li> Settlement: {{item.address.settlement}}</li> 
            <li> Street: {{item.address.street}}</li>
            <li> Lattitude: {{item.address.lat}}</li>
            <li> Longitude: {{item.address.lng}}</li>
        </ul>
    <p></p>
    <p align="center">
        <a [routerLink]="['/airports/update', item._id]">Edit</a>
    </p>
}
