<div align="center" class="home-wrapper">
<h1>Welcome to Flight Cargo!</h1>
<div class="text-wrapper">
<p align="left"> 
    We are a new company on the market that operates cargo flights from Bulgaria to Europe. <br>
    Our main routes are currently from Bulgaria to Germany (Stuttgart and Berlin) and France (Paris). <br>
    We plan to develop and operate more flights to more distant parts of the world.<br> 
    Soon we will sign a partnership contracts to operate cargo flights to the USA and Canada.
</p>
<p align="left">
     Our responsibility is to transport cargo from airport to airport without any problems. <br>
     For now, we have four aircraft adapted for cargo manufactured by the famous companies Boeing, Airbus and McDonnell Douglas.<br>
     These aircraft manufacturers have proven themselves over time with their accuracy, loyalty and reliability in order for your cargo to reach unharmed from airport to airport.
</p>
</div>
</div>
