.wrapper
{
    width: 100%;
    background-color: gainsboro;
    height: 60px;
}

form
{
    display:block;
    position: relative;
    margin-left: 10px;
    margin-right: 0;
    align-items: right;
}

img
{
    display:inline;
    position: absolute;
    margin-left: 0;
    height: 60px;
    max-width: 60px;
}

h5{
    color:#1a4ba7;
}