<div class="shipment-wrapper">
    <h3 align="center">Shipment</h3>
    <table>
        <tr><td align="right">Weight: </td><td>{{singleShipment?.weight}} kg</td></tr>
        <tr><td align="right">Volume: </td><td>{{singleShipment?.volume}} m<sup>3</sup></td></tr>
        <tr><td align="right">Sent by: </td><td>{{singleShipment?.userId?.username}} </td></tr>
        <tr><td align="right">Price: </td><td>{{singleShipment?.price}} {{singleShipment?.currency?.abbreviature}}</td></tr>
    </table>
</div>
