<div align="center" class="wrapper">
    <h2>Edit profile</h2><br>
    <form [formGroup]="form" (ngSubmit)="handleEditProfileForm()">
        <table>
            <tr><td align="center" colspan="2">
                @if (form.get('username')?.touched) {
                    @if(form.get('username')?.errors?.['required'])
                    {
                        <div class="error">Username is required!</div>
                    }
    
                    @if(form.get('username')?.errors?.['minlength'])
                    {
                        <div class="error">Username must be at least 5 characters!</div>
                    }
                }
    
                @if(form.get('email')?.touched)
                {
                    @if(form.get('email')?.errors?.['required'])
                    {
                        <div class="error">Email is required!</div>
                    }
                    
                    @if(form.get('email')?.errors?.['emailValidator'])
                    {
                        <div class="error">Email is not valid!</div>
                    }
                }
    
                @if(form.get('phone')?.touched)
                {
                    @if(form.get('phone')?.errors?.['required'])
                    {
                        <div class="error">Phone is required!</div>
                    }
                }
    
            </td></tr>
        <tr><td class="rightAlign">Username:</td><td><input [class]="(form.get('username')?.touched && (form.get('username')?.errors?.['required'] || form.get('username')?.errors?.['minlength']))? 'inputError':''" type="text" name="username" placeholder="User Name" formControlName="username"/></td></tr>
        <tr><td class="rightAlign">E-mail:</td><td><input [class]="(form.get('email')?.touched && (form.get('email')?.errors?.['required']) || form.get('email')?.errors?.['emailValidator'])? 'inputError':''" type="text" name="email" placeholder="john.doe@mail.bg" formControlName="email"  /></td></tr>
        <tr><td class="rightAlign">Phone:</td><td><input type="text" name="phone" placeholder="+359123123123" formControlName="phone" /></td></tr>    
        <tr><td colspan="2" align="center"><button [disabled]="form.invalid">Edit</button></td></tr>
       </table>
    </form>
    </div>
    