/**************** footer styles ****************/
#footer {
    margin-top: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    clear: both;
    width: 742px;
    background-color:#2763A5;
    }
      
  #footer p {
    color:#FFFFFF;
    padding: 5px;
    text-align: center;
    }
      
  #footer p a {
    color: #FFFFFF;
    background-color:#2763A5;
    font-weight:100;
    border-bottom: 1px dotted #FFFFFF;
    }
      
  #footer p a:hover {
    color: #FFFFFF;
    text-decoration: none;
    border-top: 1px dotted #FFFFFF;
    border-bottom: 0px dotted #FFFFFF;
    }
