<div class="aircraft-wrapper">
<div class="image-display" align="center">
    <img [src]="currentAircraft?.pictureURL"/>
</div>
<div align='center'> {{currentAircraft?.mark}} {{currentAircraft?.model}}</div>
<div align='center'>
    <table>
        <tr><td>Payload:</td><td>{{currentAircraft?.payload}} kg</td></tr>
       
    <tr><td>Volume:</td><td>{{currentAircraft?.volume}} m<sup>3</sup></td></tr>
    @if(isUserAdmin)
    {
        <tr><td>Retired:</td><td>{{(currentAircraft?.retired) ? "Yes" : "No"}}</td></tr>
        <tr><td colspan="2"><a [routerLink]="['/planes/update', currentAircraft?._id]">Edit</a> 
        @if(!currentAircraft?.retired)
        {
            | <a (click)="deleteAircraft(currentAircraft?._id!)">Retire</a> 
        }   
        </td></tr>
    }
</table></div>
</div>