<div id="tabs10">
    <ul>
      <li><a routerLink="/"><span>Home</span></a></li>
      <li><a routerLink="/news"><span>News</span></a></li>
      <li><a routerLink="/planes"><span>Our Aircraft</span></a></li> 
      @if (isUserLoggedIn)
      {
        <li><a routerLink="/flights"><span>Planned flights</span></a></li>
        @if (isUserAdmin)
        {
          <li><a routerLink="/new-flight"><span>Create new flight</span></a></li>
          <li><a routerLink="/news/create"><span>Create news record</span></a></li>
          <li><a routerLink="/airports/create"><span>Create new airport</span></a></li>
          <li><a routerLink="/planes/create"><span>Create new aircraft</span></a></li>
          <li><a routerLink="/user-profiles"><span>Show user profiles</span></a></li>
        }
        <li><a routerLink="/edit-profile"><span>Edit <b>{{userName}}</b> profile</span></a></li>
        <li><a (click)="logout()"><span>Log out</span></a></li>
      }
      @else 
      {
      <li><a routerLink="/login"><span>Log in</span></a></li>
      <li><a routerLink="/register"><span>Register</span></a></li>
      }
    </ul>
  </div>

