/**************** menu styles ****************/
#tabs10 {
	float:left;
	/*width:750px;*/
	width: 100%;
	font-size:93%;
	padding-bottom: 1px;
	border-bottom:4px solid #2763A5;
	line-height:normal;
	}
  #tabs10 ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
	}
  #tabs10 li {
	display:inline;
	margin:0;
	padding:0;
	}
  #tabs10 a {
	float:left;
	background:url("/assets/tableft10.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}
  #tabs10 a span {
	float:left;
	display:block;
	background:url("/assets/tabright10.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#FFF;
	}
  #tabs10 a span {
	float:none;
	}
  #tabs10 a:hover {
	background-position:0% -42px;
	}
  #tabs10 a:hover span {
	background-position:100% -42px;
	}