<div class="new-shipment-wrapper">
@if (form.get('width')?.touched)
{
    @if (form.get('width')?.errors?.['required'])
    {
        <div style="color:red"> The width is required!</div>
    }

    @if (form.get('width')?.errors?.['numberValidator'])
    {
        <div style="color:red"> The width should be decimal number!</div>
    }

}

@if(form.get('height')?.touched)
{ 
    @if(form.get('height')?.errors?.['required'])
    {
        <div style="color:red"> The height is required!</div>
    }

    @if(form.get('height')?.errors?.['numberValidator'])
    {
        <div style="color:red"> The height should be decimal number!</div>
    }
 }

@if(form.get('edge')?.touched)
{
    @if( form.get('edge')?.errors?.['required'])
    {
        <div style="color:red"> The Edge size is required!</div>
    }

    @if (form.get('edge')?.errors?.['numberValidator'])
    {
        <div style="color:red"> The edge should be decimal number!</div>
    }
}

@if (form.get('weight')?.touched)
{
    @if( form.get('weight')?.errors?.['required'])
    {
        <div style="color:red"> The weight is required!</div>
    }

    @if (form.get('weight')?.errors?.['numberValidator'])
    {
        <div style="color:red"> The weight should be decimal number!</div>
    }
}

@if(form.errors?.['capacityValidator'])
{
    <div style="color:red"> The shipment does not fit in aircraft capacity!</div>
}

<form class="register" [formGroup]="form" (ngSubmit)="createNewShipment()">
<fieldset>
    <legend>Shipment data:</legend>
  <label for="width" align="right">Width:</label>
  <input type="text" id="width" name="width" formControlName="width"><br><br>
  <label for="height" align="right">Height:</label>
  <input type="text" id="height" name="height" formControlName="height"><br><br>
  <label for="edge" align="right">Edge:</label>
  <input type="text" id="edge" name="edge" formControlName="edge"><br><br>
  <label for="weight" align="right">Weight:</label>
  <input type="text" id="weight" name="weight" formControlName="weight"><br><br>
  <label align="right">Price: {{calculateShipmentPrice()}} EUR</label><br><br>
  <label>Flight: {{flight?.departureDate}} - {{flight?.departureAirport?.name}} - {{flight?.arrivalAirport?.name}}</label><br><br>
  <button>Apply shipment</button>
</fieldset>
</form>
</div>