fieldset
{
    border-radius: 6px;
    background-color: rgb(255, 228, 196);;
}

form
{
    float: none;
}

.new-shipment-wrapper
{
    background-color: rgb(255, 228, 196);
    border-radius: 5px;
    
    height: calc(100vh - 200px);
}



