<div align="center" class="wrapper">
<h1>Register New User</h1><br>
<form #registerForm="ngForm" (ngSubmit)="handleRegisterForm()" [appPasswordMatches]="passControlNames">
    <table>
        <tr><td align="center" colspan="2">
            @if (username?.touched) {
                @if(username?.errors?.['required'])
                {
                    <div class="error">Username is required!</div>
                }
            }

            @if (password?.touched || retypePassword?.touched) {
                
                @if(password?.errors?.['required'])
                {
                    <div class="error">Password is required!</div>
                }

                @if(retypePassword?.errors?.['required'])
                {
                    <div class="error">Re-typed password is required!</div>
                }

                @if(registerForm?.errors?.['matchPasswordsValidator'])
                {
                    <div class="error">Both passwords not match!</div>
                }
            }


            @if(email?.touched)
            {
                @if(email?.errors?.['required'])
                {
                    <div class="error">Email is required!</div>
                }
                
                @if(email?.errors?.['emailValidator'])
                {
                    <div class="error">Email is not valid!</div>
                }
            }

            @if(phone?.touched)
            {
                @if(phone?.errors?.['required'])
                {
                    <div class="error">Phone is required!</div>
                }
            }

        </td></tr>
    <tr><td class="rightAlign">Username:</td><td><input [class]="(username?.touched && username?.errors?.['required'])? 'inputError':''" type="text" name="username" placeholder="User Name" ngModel #username="ngModel" required/></td></tr>
    <tr><td class="rightAlign">Password:</td><td><input [class]="(password?.touched && (password?.errors?.['required']) || registerForm?.errors?.['matchPasswordsValidator'])? 'inputError':''" type="password" name="password" placeholder="Password" ngModel #password="ngModel" required/></td></tr>
    <tr><td class="rightAlign">Retype Password:</td><td><input [class]="(retypePassword?.touched && (retypePassword?.errors?.['required']) || registerForm?.errors?.['matchPasswordsValidator'])? 'inputError':''" type="password" name="retypePassword" placeholder="RetypePassword" ngModel #retypePassword="ngModel" required/></td></tr>
    <tr><td class="rightAlign">E-mail:</td><td><input [class]="(email?.touched && (email?.errors?.['required']) || email?.errors?.['emailValidator'])? 'inputError':''" type="text" name="email" placeholder="john.doe@mail.bg" ngModel #email="ngModel" required  appEmail/></td></tr>
    <tr><td class="rightAlign">Phone:</td><td><input type="text" name="phone" placeholder="+359123123123" ngModel #phone="ngModel" required /></td></tr>    
    <tr><td colspan="2" align="center"><button>Register</button></td></tr>
   </table>
</form>
</div>
