
<div class="wrapper">
<div class="register-container">
<h1>Sign Up</h1>
<form #registerForm="ngForm" (ngSubmit)="handleRegisterForm()" [appPasswordMatches]="passControlNames">
    
            @if (username?.touched) {
                @if(username?.errors?.['required'])
                {
                    <div class="error">Username is required!</div>
                }

                @if(username?.errors?.['minlength'])
                {
                    <div class="error">Username must be at least 5 characters!</div>
                }
            }

            @if (password?.touched || retypePassword?.touched) {
                
                @if(password?.errors?.['required'])
                {
                    <div class="error">Password is required!</div>
                }

                @if(retypePassword?.errors?.['required'])
                {
                    <div class="error">Re-typed password is required!</div>
                }

                @if(password?.errors?.['minlength'])
                {
                    <div class="error">Password must be at least 5 symbols!</div>
                }

                @if(retypePassword?.errors?.['minlength'])
                {
                    <div class="error">Re-typed password must be at least 5 symbols!</div>
                }

                @if(registerForm?.errors?.['matchPasswordsValidator'])
                {
                    <div class="error">Both passwords not match!</div>
                }
            }


            @if(email?.touched)
            {
                @if(email?.errors?.['required'])
                {
                    <div class="error">Email is required!</div>
                }
                
                @if(email?.errors?.['emailValidator'])
                {
                    <div class="error">Email is not valid!</div>
                }
            }

            @if(phone?.touched)
            {
                @if(phone?.errors?.['required'])
                {
                    <div class="error">Phone is required!</div>
                }
            }

        
    <label for="username"><b>Username:</b></label><input [class]="(username?.touched && (username?.errors?.['required'] || username?.errors?.['minlength']))? 'inputError':''" type="text" name="username" placeholder="User Name" ngModel #username="ngModel" required minlength="5"/>
    <label for="password"><b>Password:</b></label><input [class]="(password?.touched && (password?.errors?.['required'] || password?.errors?.['minlength']) || registerForm?.errors?.['matchPasswordsValidator'])? 'inputError':''" type="password" name="password" placeholder="Password" ngModel #password="ngModel" required minlength="5"/>
    <label for="retypePassword">Retype Password:</label><input [class]="(retypePassword?.touched && (retypePassword?.errors?.['required'] || retypePassword?.errors?.['minlength']) || registerForm?.errors?.['matchPasswordsValidator'])? 'inputError':''" type="password" name="retypePassword" placeholder="RetypePassword" ngModel #retypePassword="ngModel" required minlength="5"/>
    <label for="email">E-mail:</label><input [class]="(email?.touched && (email?.errors?.['required']) || email?.errors?.['emailValidator'])? 'inputError':''" type="text" name="email" placeholder="john.doe@mail.bg" ngModel #email="ngModel" required  appEmail/>
    <label for="phone">Phone:</label><input type="text" name="phone" placeholder="+359123123123" ngModel #phone="ngModel" required />    
    <button [disabled]="registerForm.invalid">Register</button>

</form>
</div>
</div>
