<div class="new-record-container">
    
    @if(form.get('name')?.touched)
    {
        @if(form.get('name')?.errors?.['required'])
        {
            <div style="color:red"> The Airport Name is required!</div>
        }
    }

    @if(form.get('country')?.touched)
    {
        @if(form.get('country')?.errors?.['required'])
        {
            <div style="color:red"> The Country is required!</div>
        }
    }

    @if(form.get('province')?.touched)
    {
        @if(form.get('province')?.errors?.['required'])
        {
            <div style="color:red"> The Province is required!</div>
        }
    }

    @if(form.get('settlement')?.touched)
    {
        @if(form.get('settlement')?.errors?.['required'])
        {
            <div style="color:red"> The Settlement is required!</div>
        }
    }

    @if(form.get('lat')?.touched)
    {
        @if(form.get('lat')?.errors?.['required'])
        {
            <div style="color:red"> The lattitude is required!</div>
        }

        @if(form.get('lat')?.errors?.['numberValidator'])
        {
            <div style="color:red"> The lattitude should be decimal number!</div>
        }
    }

    @if(form.get('lng')?.touched)
    {
        @if(form.get('lng')?.errors?.['required'])
        {
            <div style="color:red"> The longnitude is required!</div>
        }

        @if(form.get('lng')?.errors?.['numberValidator'])
        {
            <div style="color:red"> The longnitude should be decimal number!</div>
        }
    }

    <form [formGroup]="form" (ngSubmit)="createOrUpdateAirport()">
        
        <label for="name">Airport name: </label>
        <input type="text" id="name" name="name" formControlName="name">
        <label for="country">Country: </label>
        <input type="text" id="country" name="country" formControlName="country">
        <label for="province">Province: </label>
        <input type="text" id="province" name="province" formControlName="province">
        <label for="settlement">Settlement: </label>
        <input type="text" id="settlement" name="settlement" formControlName="settlement">
        <label for="street">Street: </label>
        <input type="text" id="street" name="street" formControlName="street">
        <label for="lat">Latitude: </label>
        <input type="text" id="lat" name="lat" formControlName="lat">
        <label for="lng">Longtitude: </label>
        <input type="text" id="lng" name="lng" formControlName="lng">
        <button type="submit" [disabled]="form.invalid">Submit airport</button>
    </form>
    </div>
